name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Get Date
      id: get-date
      run: |
        echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Cache Buildozer
      uses: actions/cache@v3
      with:
        path: .buildozer
        key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}-${{ steps.get-date.outputs.date }}

    - name: Build with Buildozer
      uses: ArtemSerebrennikov/buildozer-action@v1
      with:
        buildozer_version: master
        command: android debug
        repository_root: .

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: refocus-apk
        path: bin/*.apk
